tr.tr [
  data-source='#{ flight.source }'
  itemscope
  itemtype='http://schema.org/Product' ]
  / td = flight.id
  td = city_name_by_locale(flight.city_to)
  td = flight.cost
  td = l(flight.date_from, format: '%d %b %Y')
  td = l(flight.date_to, format: '%d %b %Y')
  td = flight.duration
  / td = l(flight.created_at, format: '%d %b %H:%M')
  td = flight.number_of_changes
  / th
  /   = render 'shared/weather_short', forecasts: flight.weather_forecasts, cached: true
  /   = button_tag 'Прогноз погоды',
  /     class: 'button  is-link is-small',
  /     data: { selector: 'getWeatherButton', city_id: @city.id, date_from: flight.date_from, date_to: flight.date_to }
  td
    = link_to 'Aviasales',
      flight.link,
      target: :blank,
      class: 'button  is-link is-small',
      data: { selector: 'openAviasales' },
      rel: 'nofollow'
  td
    - booking_link = flight.booking_link
    - if booking_link
      = link_to 'Booking',
        flight.booking_link,
        target: :blank,
        class: 'button  is-link is-small',
        data: { selector: 'openAviasales' },
        rel: 'nofollow'
  td
    = button_tag 'Погода',
      class: 'button  is-link is-small',
      data: { action: 'flights-list#getWeather',
        city: flight.city_to_id,
        date_from: flight.date_from,
        date_to: flight.date_to }
      / | Из #{ flight.city_from.title } в #{ flight.city_to.title } по #{ flight.cost } вылет #{ flight.date_from } возврат #{ flight.date_to }
