div data-controller='flights-list'
  .is-hidden-desktop
    = render partial: 'flights/mobile_flight_row',
      collection: @flights,
      cached: true,
      as: :flight

  .is-hidden-touch
    table.table.is-hoverable.is-fullwidth
      thead.thead
        tr
          / th #
          th width='200px' = link_to 'В', sort_flights_link(:city_to_id), data: { turbolinks: false }
          th = link_to 'Цена', sort_flights_link(:cost), data: { turbolinks: false }
          th = link_to 'Вылет', sort_flights_link(:date_from), data: { turbolinks: false }
          th = link_to ' Возвращение', sort_flights_link(:date_to), data: { turbolinks: false }
          / th = link_to ' Длительность', sort_flights_link(:duration)
          th Длительность
          / th = link_to ' Опубликован',sort_flights_link(:created_at), data: { turbolinks: false }
          th Пересадки
          / th Погода
          th Билеты
          th Гостиница
          th Погода
      tbody.tbody data-target='latest-flights-filter.flightsList'
        = render partial: 'flights/desktop_flight_row',
          collection: @flights,
          cached: true,
          as: :flight

  div data-turbolinks='false'
    = will_paginate @flights
