.card
  .card-header
    .card-header-title = flight.city_to.title
  .card-content
    div Стоимость: #{ flight.cost }
    div Туда-обратно: #{ l(flight.date_from, format: '%d %b %Y') } - #{ l(flight.date_to, format: '%d %b %Y') }
    div Длительность: #{ flight.duration }
    / div Дата обновления: #{ l(flight.created_at, format: '%d %b %H:%M') }
    / div Количество пересадок: #{ flight.number_of_changes }
  / div Погода
  / div = render 'shared/weather_short', forecasts: flight.weather_forecasts, cached: true
  .card-footer
    = link_to 'Билеты на Aviasales',
      flight.link,
      target: :blank,
      class: 'card-footer-item',
      rel: 'nofollow'

    - booking_link = flight.booking_link
    - if booking_link
      = link_to 'Гостиницы на Booking',
        flight.booking_link,
        target: :blank,
        class: 'card-footer-item',
        data: { selector: 'openAviasales' },
        rel: 'nofollow'

    = button_tag 'Погода',
      class: 'card-footer-item buttonAsLink',
      data: { action: 'flights-list#getWeather',
        city: flight.city_to_id,
        date_from: flight.date_from,
        date_to: flight.date_to }
br
