<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flight.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @flight.slug %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @flight.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @flight.date_to %>
</p>

<p>
  <strong>Country:</strong>
  <%= @flight.country %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
