h1.title.is-1 Города отправления

.columns.is-multiline
  - @cities.each do |city|
    / = link_to admin_city_path(city), class: '
    .column
      .card
        .card-header
          .card-header-title = city.title
        .card-content
          ul.citiesMosaic__list
            li Возможности: #{ city.opportunities.count }
            li Полёты: #{ city.departing_flights.count }
            li Гостиницы: #{ city.hotel_reservations.count }
        .card-footer
          / = link_to 'Подборка', city_path(city), class: 'card-footer-item'
          = link_to 'Минимальные цены',
            cheapest_admin_city_path(city),
            class: 'card-footer-item'
          = link_to 'Статистика',
            stats_admin_city_path(city),
            class: 'card-footer-item'
