<template>
  <div id="app">
    <p>{{ message }}</p>
    <input type='text' class="datepicker-here" data-position="right top" />
  </div>
</template>

<script>
require('air-datepicker/dist/js/datepicker.min.js')
require('air-datepicker/dist/css/datepicker.min.css')

export default {
  mounted () {
    $('.datepicker-here').datepicker()
  },
  data: function () {
    debugger
    return {
      message: "Hello Vue!"
    }
  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
