.flex {
  display: flex;
  flex-wrap: wrap;

  &--verticalCentered {
    align-items: center;
  }

  &.bottomAligned {
    align-items: flex-end;
  }

  &--spaceBetween {
    justify-content: space-between;
  }
}
