.flightsGrid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: 25px;
}

.flightItem {

  &__row {
    margin-bottom: 30px;
  }
}
