@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-BlackItalic.woff2') format('woff2'),
      asset_url('SourceSansPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-ExtraLight.woff2') format('woff2'),
      asset_url('SourceSansPro-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-LightItalic.woff2') format('woff2'),
      asset_url('SourceSansPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-Black.woff2') format('woff2'),
      asset_url('SourceSansPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-Regular.woff2') format('woff2'),
      asset_url('SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-Light.woff2') format('woff2'),
      asset_url('SourceSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-BoldItalic.woff2') format('woff2'),
      asset_url('SourceSansPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
      asset_url('SourceSansPro-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-Bold.woff2') format('woff2'),
      asset_url('SourceSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-Italic.woff2') format('woff2'),
      asset_url('SourceSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-SemiBold.woff2') format('woff2'),
      asset_url('SourceSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: asset_url('SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
      asset_url('SourceSansPro-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

