nav.navbar.is-fixed-top.is-link role="navigation" aria-label="main navigation"
  .container
    .navbar-brand
      = link_to t('project_name'),
        admin_root_path,
        class: 'navbar-item'

      a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
        span aria-hidden="true"
        span aria-hidden="true"
        span aria-hidden="true"

    .navbar-menu
      .navbar-start
      .navbar-end

/ <>
/   <div class="navbar-brand">
/     <!-- navbar items, navbar burger... -->
/   </div>
/ </nav>

/ nav.adminHeaderNav
/   .adminHeaderNav__container
/     .adminHeaderNav__left
/       = link_to t('project_name'),
/         admin_root_path,
/         class: 'adminHeaderNav__item'
/     .adminHeaderNav__right
/       / = link_to 'Возможности',
/       /   admin_opportunities_path,
/       /   class: 'adminHeaderNav__item'
/       / = link_to 'Полёты',
/       /   admin_flights_path,
/       /   class: 'adminHeaderNav__item'
/       / = link_to 'Гостиницы',
/       /   admin_hotel_reservations_path,
/       /   class: 'adminHeaderNav__item'
/       / = link_to 'Cities',
/       /   admin_cities_path,
/       /   class: 'adminHeaderNav__item'
