nav.navbar.is-fixed-top.is-link role="navigation" aria-label="main navigation"
  .container
    .navbar-brand
      = link_to t('project_name'),
        root_path,
        class: 'navbar-item'

      a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
        span aria-hidden="true"
        span aria-hidden="true"
        span aria-hidden="true"

    .navbar-menu
      .navbar-start
      .navbar-end
        / = render 'shared/locale_switcher'
