nav.secondLevelNavigation
  h4 Меню города

  = link_to 'Opportunities',
    admin_city_opportunities_path(@city),
    class: 'secondLevelNavigation__item'
  = link_to 'Flights',
    admin_city_flights_path(@city),
    class: 'secondLevelNavigation__item'
  = link_to 'Hotel Reservations',
    admin_city_hotel_reservations_path(@city),
    class: 'secondLevelNavigation__item'
