.column.is-3-desktop.is-4-tablet.is-6-mobile
  .card
    .card-image
      figure.image.is-4by3 = image_tag destination.city_to.covers.first.variant(combine_options: { resize: "400x300>", extent: "400x300", background: "grey", gravity: "center"})
    .card-header
      = link_to "/flights/#{ @city.code }/#{ destination.city_to.code }", class: 'card-header-title' do
        = [ destination.city_to.title,
          '-',
          @fligts_count[destination.city_to_id],
          t('ticket', count: @fligts_count[destination.city_to_id]),
          'от',
          destination.flight_with_min_price&.cost,
          t(@city.currency.downcase, count: destination.flight_with_min_price&.cost)].join(' ')
    / div.card-content
