/ = svg_icon 'svg_icons-next', class: 'opportunityBlock__arrow'
/ = svg_icon 'svg_icons-bed', class: 'opportunityBlock__arrow'
/ = svg_icon 'svg_icons-plane', class: 'opportunityBlock__arrow'
/ = svg_icon 'svg_icons-hotel', class: 'opportunityBlock__arrow'
/ = svg_icon 'svg_icons-aircraft-take-off', class: 'opportunityBlock__arrow'
/ = svg_icon 'svg_icons-aircraft-landing', class: 'opportunityBlock__arrow'
/ = svg_icon 'svg_icons-airplane', class: 'opportunityBlock__arrow'
/ = svg_icon 'svg_icons-hotel-2', class: 'opportunityBlock__arrow'

/ .opportunityBlock
/   / - if opportunity.hotel_reservation.present?
/   /   .opportunityBlock__type
/   /     | Перелёт и гостиница
/   / - else
/   /   .opportunityBlock__type
/   /     | Перелёт
/
/   / .opportunityBlock__images
/   /   | Картинки страны, гостиницы, достопримечательностей
/   / .opportunityBlock__dates
/   p.opportunityBlock__description = opportunity.description
/   a.opportunityBlock__cities href = opportunity.flight.link
/     = city_name_by_locale(opportunity.flight.city_to)
/     | #{", "}
/     = svg_icon 'svg_icons-plane', class: 'opportunityBlock__arrow'
/     | #{ l(opportunity.flight.date_from, format: :short) }
/
/     | #{" — "}
/     / | #{ opportunity.duration } #{ t('day', count: opportunity.duration) }
/
/     = svg_icon 'svg_icons-plane', class: 'opportunityBlock__arrow opportunityBlock__arrow--reversed'
/     | #{ l(opportunity.flight.date_to, format: :short) }
/     | #{", "}
/     | #{ opportunity.flight.cost }
/     | #{ t( opportunity.flight.currency) }
/
/   / .opportunityBlock__cost
/   /   = cont "Перелёт: #{ opportunity.flight.cost } руб.",
/   /     opportunity.flight.link,
/   /     target: :blank
/
/ /   .opportunityBlock__flightCost
/ /     = link_to "Перелёт: #{ opportunity.flight.cost } руб.",
/ /       opportunity.flight.link
/ /   - if opportunity.hotel_reservation.present?
/ /     .opportunityBlock__hotelCost
/ /       = link_to "Гостиница: #{ opportunity.hotel_reservation.cost } руб.",
/ /         opportunity.hotel_reservation.link
/ / = link_to 'Подробнее', opportunity_path(opportunity), class: 'opportunityBlock__link'
/
/ .opportunityBlock__spacer

.card
  .card-header
    .card-header-title = city_name_by_locale(opportunity.flight.city_to)
  .card-content
    = svg_icon 'svg_icons-plane', class: 'opportunityBlock__arrow'
    | #{ l(opportunity.flight.date_from, format: :short) }
    | #{" — "}
    = svg_icon 'svg_icons-plane', class: 'opportunityBlock__arrow opportunityBlock__arrow--reversed'
    | #{ l(opportunity.flight.date_to, format: :short) }
    | ( #{ opportunity.duration } #{ t('day', count: opportunity.duration) } )
    | #{", "}
    | #{ opportunity.flight.cost }
    | #{ t( opportunity.flight.currency) }
    div
      = opportunity.description
  .card-footer
    = link_to "Aviasales",
      opportunity.flight.link,
      class: 'card-footer-item',
      rel: 'nofollow'

br
