.forecasts--short
  - forecasts.slice(0,10).each do |forecast|
    .forecast
      .forecast__date = l(forecast.day, format: '%d.%m')
      / .forecast__temperature--max = forecast.max_temperature
      .forecast__temperature--min = average_temperature(forecast)
