.column.is-4-desktop.is-6-tablet
  .card
    .card-header
      = link_to city.title,
        city_path(city),
        class: 'card-header-title'
    .card-content
      ul.citiesMosaic__list
        / li Подборка: #{ city.opportunities.count }
        li Авиабилеты: #{ city.departing_flights.count }
    / li Гостиницы: #{ city.hotel_reservations.count }
    .card-footer
      / = link_to 'Подборка', city_path(city), class: 'card-footer-item'

