/ h1.title.is-1 Города отправления

/ .is-medium.is-primary.is-bold

section.hero
  .hero-body style='padding: 3rem 0rem'
    .container
      h1.title
        | Здравствуйте
      h2.subtitle
        | Меня зовут Витя. Вряд ли я смогу вам помочь поехать или слетать по делам в соседний город. А вот вдохновить на путешествие в другую страну, это да. Это ко мне. Сейчас для вылета мы поддериживаем всего три города. Выбирайте откуда вы начнёте своё приключение.

.columns.is-multiline
  = render partial: 'home_city',
    collection: @cities,
    cached: true,
    expires_in: 5.seconds,
    as: :city
