.flex.flex--verticalCentered.flex--spaceBetween
  h1 Авиабилеты
  = link_to 'Добавить', new_admin_flight_path

.flightsGrid data-controller='flights-by-cities' data-flights-by-cities-flights="#{ @flights }"
