.citiesMosaic {
  display: flex;

  &__block {
    width: 300px;
    margin-right: 30px;
    border: 1px solid $greyBackground;;
    padding: 0 10px 10px 10px;
    color: $black;
    text-decoration: none;
  }

  &__list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
}
