@mixin headerNav {
  height: 50px;
  background: $headerBackground;
  margin: 0 -20px;

  &__item {
    text-decoration: none;
    margin-right: 20px;
    color: $black;    
  }

  &__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.headerNav {
  @include headerNav;
}

.adminHeaderNav {
  @include headerNav;
  margin: 0;
  padding: 0 20px;

  &__container {
    justify-content: space-between;
  }
}
