.layoutWithSidebar {
  display: flex;

  &__sidebar {
    width: 300px;
    border-right: 1px solid $black;
    //height: 100%;
    background: $greyBackground;
    margin-left: -20px;
    padding-left: 20px;
  }

  &__content {
    flex: 1;
  }
}
