.secondLevelNavigation {
  display: flex;
  flex-direction: column;
  background: $greyBackground;
  justify-content: center;

  &__item:not(:last-of-type) {
    margin-right: 20px;
  }

  &__item {
    color: $black;
  }
}

.secondLevelNavigation + .secondLevelNavigation {
  padding-bottom: 20px;
}
