.table {
  td, th {
    padding: 5px;
    border-bottom: 1px solid $greyBackground;
  }

  td:nth-of-type(1),
  th:nth-of-type(1) {
    padding-left: 5px;
  }

  thead {
    background: $greyBackground;
    position: sticky;
  }
}
