. data-controller="new-opportunity"

  h1 data-target="new-opportunity.output"

  = simple_form_for([:admin, :city, opportunity], local: true) do |form|
    - if opportunity.errors.any?
      #error_explanation
        h2
          = "#{ pluralize(opportunity.errors.count, "error") } prohibited this opportunity from being saved:"
        
        ul
          - opportunity.errors.full_messages.each do |message|
            li
              = message
    / .field
    /   = form.label :image
    /   = form.file_field :image
    /
    / br

    .field
      = form.label :description
      = form.input :description, label: false

    = form.fields_for :hotel_reservation do |hotel_form|
      / h1 Отель
      / .field
      /   | Страна отеля
      /   = hotel_form.label :title
      /   = hotel_form.text_field :title
      / .field
      /   | название отеля
      /   = hotel_form.label :title
      /   = hotel_form.text_field :title
      / .field
      /   | Дата с - по
      /   = hotel_form.label :title
      /   = hotel_form.text_field :title
      / .field
      /   | Цена
      /   = hotel_form.label :title
      /   = hotel_form.text_field :title
      / .field
      /   | Ссылка на предложение
      /   = hotel_form.label :title
      /   = hotel_form.text_field :title

    = form.fields_for :flight do |flight_form|
      h1 Самолёт

      .field
        = flight_form.label :id
        = flight_form.text_field :id

    = form.submit
