- content_for :sidebar
  = render 'admin/cities/sidebar'

p#notice= notice

= link_to 'New', new_admin_city_opportunity_path

h1 Opportunities
table
  thead
    tr
      th Flight
      th Hotel reservation
      th colspan="3" 
  tbody
    - @opportunities.each do |opportunity|
      tr
        td= opportunity.flight
        td= opportunity.hotel_reservation
        / td= link_to 'Show', admin_city_opportunity_path(params[:city_id])
        / td= link_to 'Edit', edit_opportunity_path(opportunity)
        / td= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' }
br
/ = link_to 'New Opportunity', new_opportunity_path

