/ p#notice
/   | <%= notice %>

= @opportunity.image.methods
/ = image_tag @opportunity.image.variant(resize: "500x500")

p
  strong Flight:

= @opportunity.flight

p
  strong Hotel reservation:

= @opportunity.hotel_reservation

= link_to 'Back', admin_opportunities_path
