= form_with url: @url,
  local: true,
  class: 'filterForm',
  html: { data: { target: 'latest-flights-filter.form' } },
  method: :get do |f|

  .columns.is-mobile.bottomAligned.is-multiline
    - if action_name != 'flights_to_selected_city'
      .column.is-12-mobile.is-12-tablet.is-3-desktop
        = f.label :city, class: 'label'
        .control
          = f.select :city,
            options_from_collection_for_select(@cities, :code, :title, params[:city]),
            { prompt: true },
            { class: 'input' }
    - else
      = hidden_field_tag :city, @city_to.code

    / .column.is-12-mobile.is-12-tablet.is-3-desktop
    /   = f.label :source, class: 'label'
    /   .control
    /     = f.select :source,
    /       options_for_select(Flight.sources.keys, params[:source]),
    /       { prompt: true },
    /       { class: 'input' }

    .column.is-12-mobile.is-12-tablet.is-3-desktop
      = f.label :date_from, class: 'label'
      .control
        = text_field_tag :date_from,
          params[:date_from],
          data: { target: 'latest-flights-filter.dateFrom'},
          autocomplete: "off",
          class: 'input'

    .column.is-12-mobile.is-12-tablet.is-3-desktop
      = f.label :date_to, class: 'label'
      .control
        = text_field_tag :date_to,
          params[:date_to],
          data: { target: 'latest-flights-filter.dateTo' },
          autocomplete: "off",
          class: 'input'

    .column.is-12-mobile.is-12-tablet.is-3-desktop
      = f.label :date_in, class: 'label'
      .control
        = text_field_tag :date_in,
          params[:date_in],
          data: { target: 'latest-flights-filter.dateIn' },
          autocomplete: "off",
          class: 'input'
    /
    / div
    /   = f.label :arrive_date_from
    /   br
    /   = text_field_tag :arrive_date_from,
    /     params[:arrive_date_from],
    /     data: { target: 'latest-flights-filter.arriveDateFrom' }

    .column.is-12-mobile.is-12-tablet.is-3-desktop
      = f.label :duration, class: 'label'
      .control
        = text_field_tag :duration,
          params[:duration],
          class: 'input'

    .column.is-12-mobile.is-12-tablet.is-3-desktop
      = f.label :max_price, class: 'label'
      .control
        = text_field_tag :max_price,
          params[:max_price],
          class: 'input'

    = f.hidden_field :direction, value: params[:direction]
    = f.hidden_field :order, value: params[:order]

    .column.is-12-mobile.is-12-tablet.columns.is-grouped-centered.is-6-desktop
      .column
        .label &nbsp;
        .control.buttons
          = f.submit t('helpers.label.search'), class: 'button'
          = link_to 'Сбросить',
            @url,
            class: 'button'
          = button_tag t('helpers.label.save_filter'),
            data: { target: 'latest-flights-filter.saveFilter' },
            type: :reset,
            class: 'button'
