h1.title.is-1 Обновления билетов

div [
  data-controller='line-chart'
  data-line-chart-url=flights_statistics_city_path(@city)
]
/
/ .is-invisible data-controller='filters-list'
/   div data-target='filters-list.filtersList'
/   = button_tag "Save",
/     type: 'button',
/     data: { target: 'filters-list.saveFilter' },
/     class: 'button'

div data-controller='latest-flights-filter'

  = render 'latest_filter_form'

  .is-hidden-desktop
    - @flights.each do |flight|
      .card
        .card-header
          .card-header-title = flight.city_to.title
        .card-content
          div Стоимость: #{ flight.cost }
          div Вылет: #{ flight.date_from }
          div Возвращение: #{ flight.date_to }
          div Длительность: #{ flight.duration }
          div Дата обновления: #{ l(flight.created_at, format: '%d %b %H:%M') }
          div Количество пересадок: #{ flight.number_of_changes }
          div = flight.source
        .card-footer
          = link_to 'Aviasales',
            flight.link,
            target: :blank,
            class: 'card-footer-item',
            rel: 'nofollow'

  .is-hidden-touch
    table.table
      thead.thead
        tr
          th #
          th width='200px' = link_to 'В', sort_flights_link(:city_to_id), data: { turbolinks: false }
          th = link_to 'Цена', sort_flights_link(:cost), data: { turbolinks: false }
          th = link_to 'Вылет', sort_flights_link(:date_from), data: { turbolinks: false }
          th = link_to ' Возврат', sort_flights_link(:date_to), data: { turbolinks: false }
          / th = link_to ' Длительность', sort_flights_link(:duration)
          th Длительность
          th = link_to ' Опубликован',sort_flights_link(:created_at), data: { turbolinks: false }
          th Пересадки
          th Источник
          th Ссылка
      tbody.tbody data-target='latest-flights-filter.flightsList'
        - @flights.each do |flight|
          tr.tr
            td = flight.id
            td = flight.city_to.title
            td = flight.cost
            td = flight.date_from
            td = flight.date_to
            td = flight.duration
            td = l(flight.created_at, format: '%d %b %H:%M')
            td = flight.number_of_changes
            td = flight.source
            td
              = link_to 'Aviasales',
                flight.link,
                target: :blank,
                rel: 'nofollow'
    / | Из #{ flight.city_from.title } в #{ flight.city_to.title } по #{ flight.cost } вылет #{ flight.date_from } возврат #{ flight.date_to }

  div data-turbolinks='false'
    = will_paginate @flights
