.secondLevelNavigation
  h4 Aviasales

  = link_to 'Календарь цен на месяц',
    month_flights_admin_city_path(@city),
    class: 'secondLevelNavigation__item'
  = link_to 'Самые дешевые авиабилеты',
    cheapest_flights_admin_city_path(@city),
    class: 'secondLevelNavigation__item'
  = link_to 'Популярные направления из города',
    popular_directions_admin_city_path(@city),
    class: 'secondLevelNavigation__item'
  / = link_to 'Последние билеты',
  /   latest_admin_city_path(@city),
  /   class: 'secondLevelNavigation__item'
