h1 Самые дешевые авиабилеты

- @flights.each do |key, direction|
  h2 = @cities.select { |city| city.code == key }.first.title

  - direction.each do |key, line|
    ul
      li Цена: #{ line['price'] }
      li Вылет: #{ l(Date.parse(line['departure_at']), format: '%d %b %Y') }
      li Возвращение: #{ l(Date.parse(line['return_at']), format: '%d %b %Y') }
      li Длительность: #{ (Date.parse(line['departure_at']) - Date.parse(line['return_at'])).to_i }
