br
table.table
  thead
    th Title
    th Min price
    th Date from
    th Date to
  tbody
    - @destinations.each do |destination|
      tr
        td = destination.city_to.title
        td = destination.flight_with_min_price&.cost
        td = destination.flight_with_min_price&.date_from
        td = destination.flight_with_min_price&.date_to
