= render 'navigation'

h1 Календарь цен на месяц

. data-controller="month-flights" data-month-flights-flights='#{@flights.to_json}'

/ h1 = @cities.first.title

/ - @flights.each do |flight|
/   .
/     ul
/       li Возвращение: flight['return_date']
/       li Вылет: flight['depart_date']
/       li Пересадки: flight['number_of_changes']
/       li Назначение: flight['destination']
/       li Источник: flight['gate']
/       li Цена: flight['value']
