= render 'navigation'

h1 Популярные направления из города

- @directions.each do |key, direction|
  ul
    li Город: #{ @cities.select { |city| city.code == key }.first.title }
    li Цена: #{ direction['price'] }
    li Даты: #{ direction['departure_at'] } по #{ direction['return_at'] }
