table.table
  thead
    td Date
    td Latest
    td Direct
    td Nearest
    td Cheapest
    td Sourceless
  tbody
    - (3.month.ago.to_date..Date.today).to_a.each do |date|
      tr
        td = date
        td = @latest[date.to_s]
        td = @direct[date.to_s]
        td = @nearest[date.to_s]
        td = @cheapest[date.to_s]
        td = @sourceless[date.to_s]
