p Новые билеты по вашей подписке: #{ params[:filter].description }

table.table
  tbody
    == params[:email_text]

footer
  = link_to 'Отписаться', deactivate_saved_filters_url(token: @unsubscribe_link)
