.contentWrapper--maxWidth.contentWrapper--horizontalCenter
  p
    | Пожалуйста подтвердите ваш email адрес. Для подписки на новые билеты по запросу:&nbsp;
    i = params[:description]

  = link_to 'Активировать', activate_saved_filters_url(token: params[:token]), class: 'button'
