/ .opportunityBlock
/   - if opportunity.hotel_reservation.present?
/     .opportunityBlock__type
/       | Перелёт и гостиница
/   - else
/     .opportunityBlock__type
/       | Перелёт
/
/   / .opportunityBlock__images
/   /   | Картинки страны, гостиницы, достопримечательностей
/   .opportunityBlock__cities
/     | #{ opportunity.flight.city_from.title }
/     = svg_icon 'svg_icons-next', class: 'opportunityBlock__arrow'
/     | #{ opportunity.flight.city_to.title }
/   .opportunityBlock__dates
/     | #{ l(opportunity.flight.date_from, format: :short) } - #{ l(opportunity.flight.date_to, format: :short) }
/     | #{ opportunity.duration } #{ t('day', count: opportunity.duration) }
/   .opportunityBlock__cost
/     .opportunityBlock__flightCost
/       = link_to "Перелёт: #{ opportunity.flight.cost } руб.",
/         opportunity.flight.link
/     .opportunityBlock__hotelCost
/       = link_to "Гостиница: #{ opportunity.hotel_reservation.cost } руб.",
/         opportunity.hotel_reservation.link
/   / = link_to 'Подробнее', opportunity_path(opportunity), class: 'opportunityBlock__link'
/
/ .opportunityBlock__spacer
