/ = @opportunity.image.inspect
/ - if @opportunity.image.present?
/   = image_tag @opportunity.image.variant(resize: "500x500")

p
  strong Flight:
  = @opportunity.flight

p
  strong Hotel reservation:
  = @opportunity.hotel_reservation
