.box data-controller='collapse'
  p В рамках этого фильтра вы можете купить билеты в следующие города (#{ cities.count }):
  button.button data-target="collapse.trigger" Открыть

  - featured, not_featured = flight_cities_destinations(@cities)

  div.is-hidden data-target="collapse.content"
    br

    .columns.is-multiline.is-gapless
      - featured.each do |city|
        .column.is-2-desktop
          .cityToFlight
            .cityToFlight__overlay
            / = image_tag "https://source.unsplash.com/400x200/?#{ city&.additional_data.dig('name_translations', 'en') || city.title }"
            = link_to city.title, url_for(flights_city_path(@city, city: city.code)), class: 'cityToFlight__title'

    p и другие:

    .columns.is-multiline
      - not_featured.each do |city|
        .column.is-2-desktop
          = link_to city.title, url_for(flights_city_path(@city, city: city.code))
