.tabs.is-centered
  ul
    li class=('is-active' if current_page?(action: 'show'))
      = link_to_if !current_page?(action: 'show'), t('compilation'), city_path(@city)
    li class=('is-active' if current_page?(action: 'flights'))
      = link_to_if !current_page?(action: 'flights'), t('manual_search'), flights_city_path(@city)
