br

/ = render 'navigation'

h1.title.is-1 Обновления билетов

div data-controller='latest-flights-filter' data-latest-flights-filter-city-from=@city.id

  = render 'admin/cities/latest_filter_form'

  div data-controller='filters-list'
    div data-target='filters-list.filtersList'

  / = render 'cities/cities_info', cities: @cities


  = render partial: 'flights/list'
