br

/ = render 'navigation'

h1.title.is-1 Авиабилеты #{ @city.title } - #{ @city_to.title } от #{ @flight_with_min_price&.cost } #{ t(@city.currency.downcase, count: @flight_with_min_price&.cost) }

div [
  data-controller='latest-flights-filter'
  data-latest-flights-filter-city-from=@city.id ]

  = render 'admin/cities/latest_filter_form'

  div data-controller='filters-list'
    div data-target='filters-list.filtersList'

  / = render 'cities/cities_info', cities: @cities

  = render partial: 'flights/list'
