br

div
  = link_to city_path(@city), class: 'button' do
    = svg_icon 'svg_icons-hotel-2', class: 'opportunityBlock__arrow'
    | Return

h1.title.is-1 Обновления билетов

div data-target='filters-list'

div data-controller='latest-flights-filter'

  = render 'admin/cities/latest_filter_form'

  / table.table
  /   thead.thead
  /     tr
  /       th #
  /       th width='200px' = link_to 'В', sort_flights_link(:city_to_id), data: { turbolinks: false }
  /       th = link_to 'Цена', sort_flights_link(:cost), data: { turbolinks: false }
  /       th = link_to 'Вылет', sort_flights_link(:date_from), data: { turbolinks: false }
  /       th = link_to ' Возврат', sort_flights_link(:date_to), data: { turbolinks: false }
  /       / th = link_to ' Длительность', sort_flights_link(:duration)
  /       th Длительность
  /       th = link_to ' Опубликован',sort_flights_link(:created_at), data: { turbolinks: false }
  /       th Пересадки
  /       th Источник
  /       th Ссылка
  /   tbody.tbody
  /     - @flights.each do |flight|
  /       tr.tr
  /         td = flight.city_to.title
  /         td = flight.id
  /         td = flight.cost
  /         td = flight.date_from
  /         td = flight.date_to
  /         td = flight.duration
  /         td = l(flight.created_at, format: '%d %b %H:%M')
  /         td = flight.number_of_changes
  /         td = flight.source
  /         td = link_to 'Aviasales', flight.link, target: :blank
  / / | Из #{ flight.city_from.title } в #{ flight.city_to.title } по #{ flight.cost } вылет #{ flight.date_from } возврат #{ flight.date_to }
  /
  / div data-turbolinks='false'
  /   = will_paginate @flights
