br

/ = render 'navigation'

/ = render partial: "shared/opportunity",
/   collection: @opportunities
.columns.box
  = link_to 'Куда нибудь',
    flights_to_anywhere_path(@city)

hr

- @countries.each do |country|
  .columns.is-mobile.is-vcentered
    = image_tag country.flag if country.flag.attached?
    .column
      h2.title.is-2 = country.title

  .columns.is-multiline
    = render partial: 'shared/destination',
      collection: @destinations[country.code],
      as: :destination,
      cached: true
