$color--black: #1f191a;

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.logo {
  text-align: center;

  &__slogan {
    color: $color--black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", serif;
  }
}

.container {
  padding: 20px;
  background: aliceblue;
}

.contentWrapper {
  &--maxWidth {
    max-width: 600px;
    margin: auto;
  }

  &--horizontalCenter {
    text-align: center;
  }
}

.table {
  &__row {
    border-bottom: 1px solid blanchedalmond;
  }

  &__cell {
    border-bottom: 1px solid blanchedalmond;
    padding: 5px;
  }
}

.button {
  color: $color--black;
  text-decoration: none;
  background: white;
  padding: 5px 10px;
}
