= simple_form_for(@saved_filter, local: true) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .field
    = f.label :email, class: 'label'
    .control
      = f.input :email, input_html: { class: 'input' }, wrapper: false, label: false, required: true

  .field
    = f.label :city_from, class: 'label'
    .control
      = f.input :city_from_id, as: :hidden, input_html: { class: 'input' }, wrapper: false, label: false, readonly: true
      = f.input :city_from, input_html: { class: 'input', value: @saved_filter&.city_from&.title }, wrapper: false, label: false, readonly: true

  .field
    = f.label :city_to, class: 'label'
    .control
      = f.input :city_to_id, as: :hidden, input_html: { class: 'input' }, wrapper: false, label: false, readonly: true
      = f.input :city, input_html: { class: 'input', value: @saved_filter&.city_to&.title }, wrapper: false, label: false, readonly: true

  .field
    = f.label :date_from, class: 'label'
    .control
      = f.input :date_from, as: :string, input_html: { class: 'input' }, wrapper: false, label: false, readonly: true

  .field
    = f.label :date_to, class: 'label'
    .control
      = f.input :date_to, as: :string, input_html: { class: 'input' }, wrapper: false, label: false, readonly: true

  .field
    = f.label :duration, class: 'label'
    .control
      = f.input :duration, input_html: { class: 'input' }, wrapper: false, label: false, readonly: true

  .field
    = f.label :max_price, class: 'label'
    .control
      = f.input :max_price, input_html: { class: 'input' }, wrapper: false, label: false, readonly: true

  .form-actions
    = f.button :submit, class: 'button'
    /
    /
    / t.datetime "created_at", null: false
    / t.datetime "updated_at", null: false
    / t.boolean "confirmed"
    / t.string "email"
    / t.string "confirmation_token"
    / t.string "city_to"
    / t.string "city_from"
    / t.datetime "date_to"
    / t.datetime "date_from"
    / t.integer "duration"
    / t.integer "max_price"
