.cityToFlight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    position: relative;
    transition: all 2s ease-in;
    z-index: 100;
  }

  &__overlay {
    opacity: 0.1;
    background: $black;
    transition: opacity 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
  }

  &:hover img {
    transform: scale(1.3);
  }

  &:hover &__overlay {
    opacity: .3;
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $white;
    z-index: 200;

    &:hover, &:active, &:focus {
      color: $white;
    }
  }
}
