.forecasts {
  &--short {
    display: flex;
    flex-wrap: wrap;
    min-width: calc(6 * 40px);
  }
}

.forecast {
  width: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c7c7c7;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;

  &__date {
    border-bottom: 1px solid #c7c7c7;
  }

  &__temperature--max {
    border-bottom: 1px solid #c7c7c7;
  }
}
