body, html {
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

.hiddenOverflow {
  overflow: hidden;
}

.blured {
  filter: blur(2px);
}

.buttonAsLink {
  font-family: inherit;
  background: none;
  border: 0;
  font-size: inherit;
  color: inherit;
}

#nprogress .bar {
  background: $white !important;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
  z-index: 9000 !important;
}
