.opportunityBlock {

  &__spacer {
    max-width: 100px;
    margin: 20px auto;
    height: 1px;
    background: $grey;
  }

  &__arrow {
    height: 1em;
    width: 1em;
    margin-right: 5px;

    &--reversed {
      transform: rotateZ(180deg);
    }
  }

  &__cities {
    display: flex;
    color: black;
    text-decoration: none;
  }

  &__dates {
    display: flex;
    align-items: center;
  }
}
