.pagination {
  padding-left: 10px;
  justify-content: center !important;

  //a:not([rel]),
  //a[rel='next'],
  //em {
  //  //padding: 5px;
  //  border: 1px solid #c7c7c7;
  //  min-width: 30px;
  //  height: 30px;
  //  justify-content: center;
  //  align-items: center;
  //  margin-right: 10px;
  //  padding: 0 5px;
  //}
  //
  //span.gap {
  //  margin-right: 10px;
  //}

  a:not([rel]),
  a[rel='next'],
  a[rel='prev'],
  span.gap {
    display: none;
  }

  a[rel='next']:last-child,
  a[rel='prev']:first-child {
    display: block;
  }

  a[rel='prev']:first-child {
    margin-right: 10px;
  }

  em {
    margin-right: 10px;
  }

  span {
    padding: 5px;
  }
}
