.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000;
  background: white;
  display: none;
  opacity: 0;
  padding: 20px;

  &--shown {
    display: block;
    opacity: 1;
    background: rgba($white, 0.9);
  }

  &__closeButton {
    $height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    outline: 0;
    background: transparent;
    width: $height;
    height: $height;
    content: '';
    cursor: pointer;
    display: block;

    @mixin closeLine {
      top: 0;
      position: absolute;
      height: $height / 1.7;
      width: 1px;
      right: 50%;
      background: lighten($black, 10);
      transform-origin: center center;
      content: '';
    }

    &::after {
      @include closeLine();
      transform: rotateZ(45deg);
    }

    &::before {
      @include closeLine();
      transform: rotateZ(-45deg);
    }
  }
}
