.weatherForecastBlock {
  text-align: center;

  &__container {
    max-width: 800px;
    margin: auto !important;
  }

  &__date {
    font-size: 18px;
  }

  &__icon {
    width: 150px;
  }

  &__temperature {

  }
}
