html.has-navbar-fixed-top
  head
    title TravelParty Admin
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'

    meta name="viewport" content="width=device-width,initial-scale=1"

    = javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'admin', 'data-turbolinks-track': 'reload'
  body
    = render 'shared/admin_header_navigation'
    .container
      .layoutWithSidebar
        - if content_for? :sidebar
          .layoutWithSidebar__sidebar
            = yield :sidebar
        .layoutWithSidebar__content
          = yield

