html.has-navbar-fixed-top
  head
    = javascript_include_tag 'yandex_metrika' if Rails.env.production?
    / = javascript_include_tag 're_plain' if Rails.env.production?
    = csrf_meta_tags
    = csp_meta_tag
    = display_meta_tags general_meta_tags
    meta name="yandex-verification" content="0b5e7873b5729a16"
    = action_cable_meta_tag

    meta name="viewport" content="width=device-width,initial-scale=1"
    meta name="B-verify" content="2ca6e6e550f1188ebe030534779682dc9877d6a0"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'shared/application_header_navigation'

    section.section data-selector='mainContent'
      .container = yield

    .popup data-controller='popup'
      button.popup__closeButton [
        data-action='click->popup#close'
       ]
      .popup__content data-target='popup.content'
